{% include "main/base.html" %}
{% block content %}

<form class="container border border-secondary vh-90 d-flex align-items-center p-3 my-3" method="POST" action="{% url 'login' %}"> 
    {% csrf_token %}
    <div class="w-100">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-secondary">Email</label>
            <input type="email" class="form-control  " id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text ">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label text-secondary">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
       
        <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
</form>
{% endblock %}